<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <typeAliases>
        <typeAlias alias="Admin" type="com.po.Admin"/>
        <typeAlias alias="Teacher" type="com.po.Teacher"/>
        <typeAlias alias="Student" type="com.po.Student"/>
        <typeAlias alias="Signin" type="com.po.Signin"/>
        <typeAlias alias="Course" type="com.po.Course"/>
        <typeAlias alias="Class" type="com.po.Class"/>
        
     </typeAliases>
	 <mappers><!-- 映射器，告诉 MyBatis到哪里去找映射文件-->
        <mapper resource="com/mybatis/admin/AdminMapper.xml"/>  
        <mapper resource="com/mybatis/teacher/TeacherMapper.xml"/>
        <mapper resource="com/mybatis/teacher/TeacherSignMapper.xml"/>
        <mapper resource="com/mybatis/student/StudentMapper.xml"/>
        <mapper resource="com/mybatis/student/StudentSignMapper.xml"/>  
        <mapper resource="com/mybatis/course/CourseMapper.xml"/>     
 	</mappers>


</configuration>

